@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    position: relative;
    overflow: hidden;
    background-image: url("./assets/bgc.png") ;
    background-position: center 0; 
    background-repeat: no-repeat; 
    background-attachment:fixed; 
    background-size: cover; 
    -webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */ 
    -o-background-size: cover;/* 兼容Opera */ 
}
